<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1> Hey, I'm Cptn Mojito </h1>
		<p> This is my new project. Mackenzie Child's 12 in 12 challenge Week 2! </p>

		<p> To learn more about me, follow my shit on Facebook <a href="http://www.facebook.com/YJKIM">@YJ Kim </a> or Google me at <a href="https://www.google.com/search?q=yj&oq=yj&aqs=chrome..69i57j69i61l3j0l2.1006j0j7&sourceid=chrome&es_sm=91&ie=UTF-8">Search: YJ </a>

		</p>

	</div>
</div>
