<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "koala.jpg" %>
	</div>

	<div id="content">
		<h1 style='font-style: normal;'> Foff Welcomes You </h1>
		<p class='lead'> I'm excited to unveil my new project. Written with Ruby on Rails. </p>

		<p> This is a dictionary of all Fabu words. Feel free to edit. Sign up and Log in first. </p>
		<br /><br /><br />
		<strong><p class='lead' style='float: left;'> "You'll Never Fabu Alone" </p></strong> <br />
			<small><span><p>-Eesta Peace</p></span></small>

	</div>
</div>
